.fade-in-section {
    opacity: 0;
    transform: translateY(5px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    position: relative; /* Ngăn chồng lấn lên các thành phần khác */
    z-index: 1; /* Đảm bảo nằm bên dưới Navbar */
  }
  
  .fade-in-section.visible {
    opacity: 1;
    transform: translateY(0);
  }
  