.hero-header {
    width: 100%;
    padding: 5rem 0;
  }
  
  .search-container {
    max-width: 1140px; /* Tương tự như .container */
    margin: 0 auto;
  }
  
  .search-row {
    display: flex;
    justify-content: center;
  }
  
  .search-column {
    width: 100%;
    text-align: center;
  }
  