.hero-header {
    width: 100%;
    padding: 5rem 0;
  }
  
  .search-container {
    max-width: 1140px; /* Tương tự như .container */
    margin: 0 auto;
  }
  
  .search-row {
    display: flex;
    justify-content: center;
  }
  
  .search-column {
    width: 100%;
    text-align: center;
  }
  .suggestions-list {
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
  }
  
  .suggestion-item {
    list-style: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .suggestion-item:hover {
    background-color: #f0f0f0;
  }
  