.booking {
    background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)), url(../../public/img/japan.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-floating label {
    color: white; 
    transition: all 0.3s ease;
}


.form-floating .form-control {
    background-color: transparent; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    transition: all 0.3s ease; 
}


.form-floating .form-control:focus {
    border-color: aqua; 
    color: white; 
}


.form-floating .form-control:focus ~ label,
.form-floating .form-control:not(:placeholder-shown) ~ label {
    transform: translateY(-20px); 
    font-size: 12px; 
    color: black; 
}


.form-floating .form-control:focus {
    box-shadow: none; 
}
.form-floating select {
    background-color: transparent; /* Make background transparent */
    border: 1px solid #ccc; /* Set border color */
    border-radius: 10px; /* Rounded borders */
    padding-top: 10px; /* Space for label */
    transition: all 0.3s ease; /* Smooth transition for the label */
}
.form-floating input:focus + label,
.form-floating input:not(:placeholder-shown) + label,
.form-floating select:focus + label,
.form-floating select:not([value=""]) + label,
.form-floating textarea:focus + label,
.form-floating textarea:not(:placeholder-shown) + label {
    transform: translateY(-1.5rem);
    font-size: 0.85rem;
    opacity: 1;
}
/* Thay đổi màu chữ và nền của select */
.form-select {
    color: white; 
    background-color: aqua; 
    border: 1px solid white; 
}


.form-select option {
    color: white; /* Màu chữ trắng */
    background-color: gray; /* Nền đen */
}


.form-select:focus {
    box-shadow: 0 0 5px white; 
    border-color: white;
    outline: none; 
}
