.travel-team-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%; /* Ensure the height is sufficient for the content */
}

.travel-team-item img {
    width: 200px; /* Set fixed width */
    height: 200px; /* Set fixed height */
    object-fit: cover; /* Ensures the image maintains aspect ratio */
    transition: 0.5s;
    border-radius: 50%; /* Optional: to make the images circular */
}

.travel-team-item:hover img {
    transform: scale(1.1);
}

.travel-team-item .btn {
    background: #FFFFFF;
    color: var(--primary);
    border-radius: 20px;
    border-bottom: 1px solid var(--primary);
}

.travel-team-item .btn:hover {
    background: var(--primary);
    color: #FFFFFF;
}

.travel-guide-container-xxl {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.travel-guide-container {
    max-width: 1140px;
    margin: 0 auto;
}
